body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
a{
    display: block;
    text-decoration: none;
}
.logo{
    display: block;
    background-position: center center;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
}
.logo-Header{
    background: url('../img/d’Perfume.png');
    width: 128px;
    height: 38px;
}
.logo-Footer{
    background: url('../img/d’Perfumew.png');
    width: 128px;
    height: 38px;
}
.layout-Header{
    position: relative;
}
.layout-Navbar{
    display: flex;
    justify-content: space-between;
    @include rwd($mobile) {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        display: block;
        transition: all 0.5s;
        height: 0;
        overflow: hidden;
        &.active{
            height: 195px;  // 為何不可以寫成 height: 100% ????
        }
     }
    li{
        &:nth-child(1){
            a::before{
                content: url(../img/tshirt.svg);
                margin-right: 5px;
                line-height: 1.5;
                @include rwd($mobile) {
                   display: none;
                }
            }  
        }
        &:nth-child(2){
            a::before{
                content: url(../img/user-alt.svg);
                margin-right: 5px;
                line-height: 1.5;
                @include rwd($mobile) {
                    display: none;
                 }
            }  
        }
        &:nth-child(3){
            a::before{
                content: url(../img/heart.svg);
                margin-right: 5px;
                line-height: 1.5;
                @include rwd($mobile) {
                    display: none;
                 }
            }  
        }
        &:nth-child(4){
            a::before{
                content: url(../img/shopping-cart.svg);
                margin-right: 5px;
                line-height: 1.5;
                @include rwd($mobile) {
                    display: none;
                }
            }  
        }
    }
    a{
        display: block;
        font-size: 1.25rem;
        padding-top: 9px;
        padding-bottom: 9px;
        color: $dark;
        @include rwd($mobile) {
            background-color: $dark;
            color: white;
            border-bottom: 1px solid #fff;
            text-align: center;
        }
    }

}
.footer-Navbar{
    a{
        font-size: 1.25rem;
        padding-left: 18px;
        padding-right: 18px;
    }
}