.myPageNav{
    a{
        display: inline-block;
        padding-right: 10px;
        padding-top: 10px;
    }
    li:first-child{
        a{
            border-bottom: 2px solid #916000;
        }
    }
}
.myPage-user-icon{
    h5::before{
        content: url("../img/urn_aaid_sc_US_dc5ebe5c-3e56-4981-a010-158b5ded0e72 (19).png");
    }
}